body,
#show,
#images,
#link {
  padding: 0;
  margin: 0;
}

html {
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}

:root {
  --main-font: 'Source Serif Pro', serif;
  --sub-font: "YuGothic", "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  --bg-color: #fff7;
  --text-color: #000;
  --sub-color: #eee;
}

body {
  background: var(--bg-color);
}

#link {
  font-family: var(--sub-font);
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

#value .ja_app,
#enter {
  text-shadow:
  1px 1px 0 #fff,
  2px 2px 0 #fff;
}

#enter b {
  display: block;
  font-size: 2rem;
  font-weight: 500;
}

.icon b {
  font-weight: 900;
  padding: 1rem;
  letter-spacing: 0.075rem;
}

.icon u {
  font-weight:600;
}

.icon i {
  letter-spacing:0.1rem;
}

#link {
  font-size: .9rem;
}

@media screen and (max-width: 750px) {
  #enter b {
    font-size: 5vw;
  }

  .icon b {
    padding: 2.5vw;
    letter-spacing:0.125vw;
  }

  .icon i {
    letter-spacing:0.25vw;
  }

  #link {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 550px) {
  #enter b {
    font-size: 6.5vw;
  }

  .icon b {
    padding: 3.25vw;
    letter-spacing:0.25vw;
  }

  .icon i {
    letter-spacing:0.5vw;
  }

  #link {
    font-size: 3vw;
  }
}

a,
#enter,
.open #value {
  transition: all 2500ms ease;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

#enter,
#value a {
  animation: 2.5s linear infinite alternate enter;
}

a:hover,
#enter:hover,
#value a:hover {
  animation: .25s linear infinite alternate enter;
  cursor: pointer;
}

@keyframes enter {
  from {
    color: var(--text-color);
  }
  to {
    color: var(--sub-color);
  }
}

#value {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

#value {
  opacity: 0;
  overflow: hidden;;
  height: 0;
  pointer-events: none;
  user-select: none;
  z-index: 0;
}

#value .ja_app::before {
  content: '大切にすることを大切にするためのギャラリー';
  display: block;
  font-size: 125%;
  position: absolute;
  right: 0;
}

#value .ja_app {
  line-height: 250%;
}

#value .en_app {
  background: var(--bg-color);
  line-height: 200%;
}

#value .ja_app a {
  background: var(--bg-color);
  font-size: 175%;
  padding: 0.25rem;
  margin-bottom: 0.5rem;
}

#value .en_app p:last-child {
  margin-bottom: 0;
}

#value .en_app span,
#value .en_app a {
  margin-right: 0.25rem;
}

#value .en_app a,
#value .en_app b {
  font-size: 150%;
}

#value .en_app a {
  padding: 0.125rem;
}

.open #value {
  pointer-events: all;
  user-select: auto;
  overflow: auto;
  opacity: 1;
  height: 100vh;
  max-height: -webkit-fill-available;
  z-index: 1;
}

#images,
#link {
  position: fixed;
  display: block;
}

#enter,
#images video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#enter {
  background: transparent;
  border: none;
  font-family: var(--main-font);
  z-index: 100;
}

.icon {
  width: 55%;
  max-width: 300px;
  text-align: left;
}

.open #enter {
  top: 0;
  left: 0;
  width: auto;
  transform: translate(0, 0);
}

.open #enter b {
  display: none;
}

.open #enter::after {
  display: block;
  margin: 0;
  padding: 0 1.25rem;
  font-size: 5rem;
  content: '×';
}

#images {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}

#images {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  user-select: none;
  pointer-events: none;
  z-index: 0;
}

#images video {
  min-height: 100%;
  min-width: 100%;
}

#link {
  font-family: var(--sub-font);
  border-left: 1px transparent solid;
  padding-left: 1.25%;
  top: 5%;
  left: 5%;
  z-index: 100;
  opacity: 1;
}

.open #link {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

#link:hover {
  border-left: 1px #fff solid;
}
